@font-face {
  font-family: "Gantari";
  src: url("../../font/Gantari-Regular.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gantari";
  -webkit-font-smoothing: antialiased;
}

body {
  background: #141414;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.hero-section {
  color: #ffffff;
}

.hero-section .hero-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("../../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .info-container {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(37%, rgba(43, 42, 42, 0.9)), color-stop(73%, rgba(125, 125, 125, 0.330278)));
  background: linear-gradient(90deg, #141414 0%, rgba(43, 42, 42, 0.9) 37%, rgba(125, 125, 125, 0.330278) 73%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4rem;
}

.hero-section .info-container .logo-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 40%;
  max-height: 30%;
}

.hero-section .info-container .logo-container img {
  width: 100%;
  height: 100%;
}

.hero-section .info-container .details-container {
  margin-top: 2rem;
}

.hero-section .info-container .details-container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aaaaaa;
  margin-top: 1rem;
  font-size: .9rem;
}

.hero-section .info-container .details-container .details .release-date {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid;
}

.hero-section .info-container .details-container .details .movie-ratings span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid;
}

.hero-section .info-container .details-container .details .movie-genre {
  padding-right: 1rem;
  border-right: 1px solid;
  margin: 0 1rem;
}

.hero-section .info-container .details-container .synopsis {
  width: 35%;
  margin-top: 1.5rem;
}

.hero-section .info-container .details-container .movie-talent {
  margin-top: 1.5rem;
  width: 40%;
}

.hero-section .info-container .details-container .movie-talent ul li {
  list-style: none;
}

.hero-section .info-container .details-container .movie-talent ul li span {
  color: #aaaaaa;
  margin-right: .4rem;
}

.hero-section .info-container .watch-on-netflix {
  margin-top: 2rem;
}

.hero-section .info-container .watch-on-netflix a {
  padding: .5rem .7rem;
  color: #ffffff;
  background: #E50914;
  text-decoration: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 5px;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.section-header h3 {
  border-right: 1px solid;
  padding-right: 1rem;
  margin-right: 1rem;
}

.section-header span {
  color: #aaaaaa;
}

.season-episode-container {
  margin-top: 1rem;
  padding: 2rem 4rem;
  color: #ffffff;
}

.season-episode-container .section-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.season-episode-container .section-header .unnamed-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.season-episode-container .section-header .layout-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.season-episode-container .section-header .layout-selector .grid-1 {
  margin-right: .6rem;
}

.season-episode-container .section-header .layout-selector svg {
  fill: #ffffff;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.season-episode-container .section-header .layout-selector .icon.active svg {
  fill: #E50914;
}

.season-episode-container .section-header .layout-selector .icon:hover svg {
  fill: #E50914;
}

.season-episode-container .season-selector {
  margin-top: 1rem;
}

.season-episode-container .season-selector select {
  width: 40%;
  height: 40px;
  background: none;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.season-episode-container .season-selector select option {
  color: #ffffff;
  background: #141414;
}

.season-episode-container .episode-list-container {
  margin-top: 1rem;
}

.season-episode-container .episode-list-container .season {
  display: none;
}

.season-episode-container .episode-list-container .season.active {
  display: block;
}

.season-episode-container .episode-list-container .season .season-synopsis {
  width: 40%;
  margin-top: .5rem;
  color: #aaaaaa;
}

.season-episode-container .episode-list-container .season-episode-list-container {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
  max-width: 100%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.season-episode-container .episode-list-container .season-episode-list-container.view-default {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.season-episode-container .episode-list-container .season-episode-list-container.view-default .episode .episode-metadata .number {
  display: none;
}

.season-episode-container .episode-list-container .season-episode-list-container.view-small {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.season-episode-container .episode-list-container .season-episode-list-container.view-small .episode .episode-synopsis {
  opacity: 0;
  height: 0;
}

.season-episode-container .episode-list-container .season-episode-list-container.view-small .episode .episode-metadata .episode-title {
  display: none;
}

.season-episode-container .episode-list-container .season-episode-list-container.view-small .episode .episode-metadata .runtime {
  position: absolute;
  bottom: 15%;
  right: 3%;
  background: #0808086d;
  padding: .2rem .5rem;
  border-radius: 50px;
  font-size: .8rem;
  font-weight: bold;
  color: #ffffff;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  position: relative;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-thumbnail {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-thumbnail img {
  border-radius: 5px;
  max-width: 100%;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode:hover .number {
  color: #E50914;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-metadata .episode-title {
  max-width: 60%;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-metadata .runtime {
  font-size: .9rem;
  color: #aaaaaa;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-metadata .number {
  position: absolute;
  bottom: 15%;
  left: 3%;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  padding: .2rem .5rem;
  border-radius: 5px;
  background: #0808086d;
}

.season-episode-container .episode-list-container .season-episode-list-container .episode .episode-synopsis {
  margin-top: .7rem;
  font-size: .8rem;
  color: #aaaaaa;
}

.season-original-soundtrack-container {
  margin-top: 1rem;
  padding: 0 4rem;
}

.season-original-soundtrack-container .ost-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .8rem;
}

.season-original-soundtrack-container .ost-metadata .item {
  color: #aaaaaa;
}

.season-original-soundtrack-container .ost-metadata .item span {
  color: #ffffff;
}

.season-original-soundtrack-container .original-soundtrack-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.season-original-soundtrack-container .original-soundtrack-list .ost-item .ost-thumb {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.season-original-soundtrack-container .original-soundtrack-list .ost-item .ost-thumb img {
  border-radius: 5px;
  max-width: 100%;
}

.season-original-soundtrack-container .original-soundtrack-list .ost-item .ost-title {
  color: #ffffff;
  margin-top: .5rem;
}

.season-original-soundtrack-container .original-soundtrack-list .ost-item .ost-artist {
  color: #aaaaaa;
  font-size: .9rem;
}

.more-details-container {
  margin-top: 1rem;
  padding: 2rem 4rem;
  color: #ffffff;
}

.more-details-container .more-details-label {
  color: #aaaaaa;
}

.more-details-container .details-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.more-details-container .details-section .details-cell .cell-label {
  margin-bottom: .5rem;
  color: #aaaaaa;
}

.more-details-container .details-section .details-cell .cell-items .ratings {
  border: 1px solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: .9rem;
  padding: .1rem;
}

.more-details-container .cast-details-container {
  margin-top: 1rem;
}

.more-details-container .cast-details-container .cast-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: .6rem;
}

.section-hook {
  padding: 2rem 4rem;
  color: #aaaaaa;
  text-align: center;
  font-size: .9rem;
}

.section-hook .hook-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hook .hook-text p {
  max-width: 500px;
}

.section-hook .hook-hr {
  width: 100%;
  height: 1px;
  background: #aaaaaa;
}

.section-hook .hook-hr:nth-child(1) {
  margin-bottom: 1rem;
}

.section-hook .hook-hr:nth-child(3) {
  margin-top: 1rem;
}

@media screen and (min-width: 2560px) {
  .hero-section .info-container {
    padding: 0 15rem;
  }
  .season-episode-container {
    padding: 2rem 15rem;
  }
  .season-episode-container .season .season-episode-list-container.view-small {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .season-episode-container .season .season-episode-list-container.view-default {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .more-details-container {
    padding: 2rem 15rem;
  }
  .more-details-container .details-section,
  .more-details-container .cast-details-container .cast-list {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 900px) {
  body {
    background: #080808;
  }
  .hero-section .info-container {
    padding: 0 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#101010), color-stop(73%, rgba(125, 125, 125, 0.5)));
    background: linear-gradient(90deg, #101010 0%, rgba(125, 125, 125, 0.5) 73%);
  }
  .hero-section .info-container .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 20%;
    max-width: 90%;
  }
  .season-episode-container .section-header .layout-selector {
    display: none;
  }
  .season-episode-container .season .season-episode-list-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .more-details-container .details-section,
  .more-details-container .cast-details-container .cast-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .hero-section .info-container .hero-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-section .info-container .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #080808;
  }
  .hero-section .hero-bg {
    position: unset;
    height: 30vh;
    background-image: url("../../img/hero-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero-section .info-container {
    padding: 0 1rem;
    background: none;
    margin-top: -3rem;
  }
  .hero-section .info-container .logo-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .hero-section .info-container .details-container .details {
    font-size: .85rem;
  }
  .hero-section .info-container .details-container .details .release-date, .hero-section .info-container .details-container .details .movie-genre {
    padding-right: .5rem;
    margin-right: .5rem;
  }
  .hero-section .info-container .details-container .synopsis {
    width: 100%;
    font-size: .9rem;
  }
  .hero-section .info-container .details-container .movie-talent {
    width: 100%;
    font-size: .9rem;
  }
  .hero-section .info-container .details-container .watch-on-netflix {
    margin-top: 1rem;
  }
  .hero-section .info-container .details-container .watch-on-netflix a {
    font-size: .9rem;
  }
  .season-episode-container, .more-details-container {
    margin-top: -2rem;
    padding: 0 1rem;
    font-size: .9rem;
  }
  .season-episode-container .section-header .layout-selector, .more-details-container .section-header .layout-selector {
    display: none;
  }
  .season-episode-container .season-selector select, .more-details-container .season-selector select {
    width: 100%;
  }
  .season-episode-container .episode-list-container .season .season-synopsis, .more-details-container .episode-list-container .season .season-synopsis {
    width: 100%;
    font-size: .9rem;
  }
  .season-episode-container .episode-list-container .season .season-episode-list-container, .more-details-container .episode-list-container .season .season-episode-list-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .season-episode-container .episode-list-container .season .season-episode-list-container .season-selector select, .more-details-container .episode-list-container .season .season-episode-list-container .season-selector select {
    width: 100%;
    height: 30px;
  }
  .season-original-soundtrack-container {
    padding: 0 1rem;
  }
  .season-original-soundtrack-container .ost-metadata {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
    font-size: .9rem;
  }
  .season-original-soundtrack-container .original-soundtrack-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .more-details-container {
    margin-top: 2rem;
  }
  .more-details-container .details-section {
    gap: .5rem;
    margin-top: .7rem;
  }
  .more-details-container .details-section,
  .more-details-container .cast-details-container .cast-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section-hook {
    padding: 1rem;
  }
  .section-hook .hook-text p {
    font-size: .8rem;
    max-width: unset;
  }
  .section-header h3 {
    border-right: none;
  }
  .section-header span {
    display: none;
  }
}
